.bgimg{
    
    
}
.headerset{
    padding-top: 250px;
    color: rgb(255, 217, 0);
    box-sizing: border-box;
}
.headerset h2{
    font-size: 42px;
}
.headerset h1{
    font-size: 82px;
    font-weight: bold;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.card{
  border:none;
  outline:none;
  
  -webkit-box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
}

.card p{
  color: gray;
}
.circle{
  height:70px;
  width: 70px;
  background-color: rgb(218, 178, 178);
  color:black;
  padding: 12px;
  font-size:30px;
  border-radius:50%;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
}
.card:hover{
  text-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform:scale(1.1);
  transform: scale(1.1);
  z-intex: 2;
}
.card:hover .circle{
  
  background-color: black;
  color: white;
  transition: 0.5s;
}

.map{
  background-size: cover;
  border-radius: 20px;
  height: 280px;
  width: 350px;
  -webkit-box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
box-shadow: -9px 13px 66px -19px rgba(0,0,0,0.75);
}
.control ul li{
  list-style: none;
  background-color: black;
  padding: 5px 15px;
  color: white;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;

}
.item{
  position: relative;
  
}
.item:hover{
  -webkit-box-shadow: 10px 10px 147px -46px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 147px -46px rgba(0,0,0,0.75);
box-shadow: 10px 10px 147px -46px rgba(0,0,0,0.75);
 transition: 0.5s;
}
.item span{
  position: absolute;
  top:40%;
  left: 45%;
  font-size: 40px;
  color: black;
  cursor: pointer;
  opacity: 0;
  
}
.item:hover span{
  opacity: 1;
  transition: 0.5s;
}
 body {
  color: #fff;
  background: linear-gradient(-45deg,#EE7752,#E73C7E,#2de703,#23D5AB);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
} 
@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
  
}

.testi .container {
  max-width: 950px
}

.testi .card {
  border-radius: 1rem;
  box-shadow: 0px -10px 0px rgb(151, 248, 6)
}

@media(max-width:767px) {
  .testi .card {
      margin: 1rem 0.7rem 1rem;
      max-width: 80vw
  }
}

.testi img {
  width: 6.2rem;
  border-radius: 5rem;
  margin: 1.3rem auto 1rem auto
}

.testi .col-md-4 {
  padding: 0 0.5rem
}

.testi .card-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'IM Fell French Canon SC'
}

.testi .card-text {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  color: rgb(82, 81, 81);
  line-height: 1.4rem
}

.testi .footer {
  border-top: none;
  text-align: center;
  line-height: 1.2rem;
  padding: 2rem 0 1.4rem 0;
  font-family: 'Varela Round'
}

#name {
  font-size: 0.8rem;
  font-weight: bold
}

#position {
  font-size: 0.7rem
}

a {
  color: rgb(151, 248, 6);
  font-weight: bold
}

a:hover {
  color: rgb(60, 255, 0)
}
